.about {
    padding: 100px 20px;
    text-align: center;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about h2 {
    font-size: 2.5rem;
    color: black;
}

.about p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about img {
    width: 200px;
    border-radius: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills, .education {
    padding: 10px 20px;
    margin-top: 20px;
    text-align: left;

}


.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .about {
        padding: 50px 20px;
    }

    .about img {
        width: 150px;
    }

    .skills li {
        font-size: 1rem;
        margin-bottom: 8px;
    }
}
